<% if self.controller_name == "comments" && self.action_name == "add_comment"%>
	<% comment = @comment %>
<% end %>
<blockquote style="display: table;">
	<div style="display: table-cell;">
	<%= image_tag(comment.user.image, :size => "33x33", :alt => "アイコン", :style => "margin:2px 5px;") %>
	</div>
	<div style="display: table-cell;vertical-align: top;word-break: break-all;">
		<% if comment.user.id == current_user.id %>
			<%= link_to comment.user.name,:controller =>"actions",:action =>"me" %>
		<% else %>
			<%= link_to comment.user.name,:controller =>"actions",:action =>"show",:id =>comment.user.id %>
		<% end %>
		<%= comment.created_at.in_time_zone('Tokyo').strftime(' %1m月%1d日 %1H時%1M分')%>
		<br><%= comment.comment.html_safe %>
	</div>
</blockquote>