<% action = @action %>
<h4><%= action.act_time.in_time_zone('Tokyo').strftime('%1m月%1d日 %1H時%1M分頃')%></h4>
<ul>
	<blockquote>
		<div class= "well" data-act_time="<%= action.act_time.strftime('%Y/%m/%d %H:%M')%>">
				<span class="badge"></span>
				<%= image_tag(action.who.image, :size => "37x37", :alt => "アイコン") %>
				<%= link_to action.who.name,:controller =>"actions",:action =>"show",:id =>action.who.id %>さんが
				<div style="text-align:center;"><%= action.where %>で</div>
				<div style="text-align:center;"><%= action.what %>ました.</div>
				<div class="author">- by <%= image_tag(action.author.image, :size => "20x20", :alt => "アイコン") %><%= action.author.name %></div>
				<%= button_tag(type: 'button',class: 'btn btn-info btn-xs great',style:'margin:0 10px;',:"data-user_id" => current_user.id,:"data-action_id" => action.id,:"data-great_count" => action.greats.count) do "<i class='fa fa-thumbs-o-up nav-icon'></i> すごい！".html_safe end%>
				<div class="form-group has-feedback" style="margin-top: 0; margin-bottom: 0; padding:0;">
					<textarea class="form-control comment_field" placeholder="コメントを残す" rows=1></textarea>
					<i class='fa fa-edit form-control-feedback' style="top:-5px;" data-action_id=<%= action.id %> data-user_id=<%= current_user.id %>></i>
				</div>
				<hr class="style-bury" data-action_id=<%= action.id %> style="display: none;">
				<div class="comment-for-action" data-action_id="<%= action.id %>"></div>
		</div>
	</blockquote>
</ul>