<%
loop_count = 0
before_action_day = 0
wdays = ["日", "月", "火", "水", "木", "金", "土"]
@actions.each do |action|
	change_day_flag = false
	datetime = action.act_time.in_time_zone('Tokyo');
	if(loop_count != 0)
		time_interval = before_action_day.beginning_of_day - datetime.beginning_of_day
	else
		time_interval = 0
	end
	if(time_interval > 0)
		change_day_flag = true
	end %>
	<% if(loop_count == 0) %>
		<h4><%= datetime.strftime('%Y年%1m月%1d日('+wdays[datetime.wday]+')') %></h4>
		<ul>
	<% elsif(change_day_flag) %>
		</ul>
		<h4><%= datetime.strftime('%Y年%1m月%1d日('+wdays[datetime.wday]+')') %></h4>
		<ul>
	<% end %>

	<% if(action.action_type == 1) %>
			<blockquote class="npc_action">
				<h4><%= action.act_time.in_time_zone('Tokyo').strftime('%1H時%1M分頃')%></h4>
				<%= render :partial=>"npc_one_action", :locals=>{:action=>action} %>
			</blockquote>
	<% else %>
			<blockquote>
				<h4><%= action.act_time.in_time_zone('Tokyo').strftime('%1H時%1M分頃')%></h4>
				<%= render :partial=>"one_action", :locals=>{:action=>action} %>
			</blockquote>
	<% end %>
	<% loop_count = loop_count + 1 %>
	<% before_action_day = datetime %>
<% end %>
		</ul>