<h4>4月15日　14:00頃</h4>
<ul>
	<blockquote>
		<div class= "well">
			<span class="badge">14 <i class="fa fa-thumbs-o-up nav-icon"></i></span>
			<%= image_tag("dun0171.png", :size => "37x37", :alt => "アイコン") %>
			矢野洋祐さんが
			<div style="text-align:center;">東京で</div>
			<div style="text-align:center;">就活をしていました.</div>
			<div class="author">- by <%= image_tag("dun0171.png", :size => "20x20", :alt => "アイコン") %>今入 康友</div>
			<form class="form-inline" style="margin-top:12px;">
				<div class="form-group input-group-sm" style="width:100%;">
					<%= link_to '<button type="button" class="btn btn-info btn-xs" style="margin:0 10px;"><i class="fa fa-thumbs-o-up nav-icon"></i> すごい！</button>'.html_safe, "/path1"  %>
					<input class="form-control hidden-sm hidden-xs" id="inputEmail" placeholder="コメントを残す" type="text" style="width:75%;">
				</div>
			</form>
		</div>
		<div class= "well">
			<span class="badge">14 <i class="fa fa-thumbs-o-up nav-icon"></i></span>
			<%= image_tag("dun0171.png", :size => "37x37", :alt => "アイコン") %>
			矢野洋祐さんが
			<div style="text-align:center;">東京で</div>
			<div style="text-align:center;">就活をしていました.</div>
			<div class="author">- by <%= image_tag("dun0171.png", :size => "20x20", :alt => "アイコン") %>今入 康友</div>
			<form class="form-inline" style="margin-top:12px;">
				<div class="form-group input-group-sm" style="width:100%;">
					<%= link_to '<button type="button" class="btn btn-info btn-xs" style="margin:0 10px;"><i class="fa fa-thumbs-o-up nav-icon"></i> すごい！</button>'.html_safe, "/path1"  %>
					<input class="form-control hidden-sm hidden-xs" id="inputEmail" placeholder="コメントを残す" type="text" style="width:75%;">
				</div>
			</form>
		</div>
	</blockquote>
</ul>
<h4>4月15日　11:00頃</h4>
<ul>
	<blockquote>
		<div class= "well">
			<span class="badge">14 <i class="fa fa-thumbs-o-up nav-icon"></i></span>
			<%= image_tag("dun0171.png", :size => "37x37", :alt => "アイコン") %>
			矢野洋祐さんが
			<div style="text-align:center;">東京で</div>
			<div style="text-align:center;">就活をしていました.</div>
			<div class="author">- by <%= image_tag("dun0171.png", :size => "20x20", :alt => "アイコン") %>今入 康友</div>
			<form class="form-inline" style="margin-top:12px;">
				<div class="form-group input-group-sm" style="width:100%;">
					<%= link_to '<button type="button" class="btn btn-info btn-xs" style="margin:0 10px;"><i class="fa fa-thumbs-o-up nav-icon"></i> すごい！</button>'.html_safe, "/path1"  %>
					<input class="form-control hidden-sm hidden-xs" id="inputEmail" placeholder="コメントを残す" type="text" style="width:75%;">
				</div>
			</form>
		</div>
	</blockquote>
</ul>
<h4>4月14日　23:00頃</h4>
<ul>
	<blockquote>
		<div class= "well">
			<span class="badge">14 <i class="fa fa-thumbs-o-up nav-icon"></i></span>
			<%= image_tag("dun0171.png", :size => "37x37", :alt => "アイコン") %>
			矢野洋祐さんが
			<div style="text-align:center;">東京で</div>
			<div style="text-align:center;">就活をしていました.</div>
			<div class="author">- by <%= image_tag("dun0171.png", :size => "20x20", :alt => "アイコン") %>今入 康友</div>
			<form class="form-inline" style="margin-top:12px;">
				<div class="form-group input-group-sm" style="width:100%;">
					<%= link_to '<button type="button" class="btn btn-info btn-xs" style="margin:0 10px;"><i class="fa fa-thumbs-o-up nav-icon"></i> すごい！</button>'.html_safe, "/path1"  %>
					<input class="form-control hidden-sm hidden-xs" id="inputEmail" placeholder="コメントを残す" type="text" style="width:75%;">
				</div>
			</form>
		</div>
		<div class= "well">
			<span class="badge">2 <i class="fa fa-thumbs-o-up nav-icon"></i></span>
			<%= image_tag("dun0171.png", :size => "37x37", :alt => "アイコン") %>
			矢野洋祐さんが
			<div style="text-align:center;">ゼミ室で</div>
			<div style="text-align:center;">ゼミをしていました.</div>
			<div class="author">- by <%= image_tag("dun0171.png", :size => "20x20", :alt => "アイコン") %>今入 康友</div>
			<form class="form-inline" style="margin-top:12px;">
				<div class="form-group input-group-sm" style="width:100%;">
					<%= link_to '<button type="button" class="btn btn-info btn-xs" style="margin:0 10px;"><i class="fa fa-thumbs-o-up nav-icon"></i> すごい！</button>'.html_safe, "/path1"  %>
					<input class="form-control hidden-sm hidden-xs" id="inputEmail" placeholder="コメントを残す" type="text" style="width:75%;">
				</div>
			</form>
		</div>
		<div class= "well">
			<span class="badge">1 <i class="fa fa-thumbs-o-up nav-icon"></i></span>
			<%= image_tag("dun0171.png", :size => "37x37", :alt => "アイコン") %>
			矢野洋祐さんが
			<div style="text-align:center;">MMLで</div>
			<div style="text-align:center;">バイトをしていました.</div>
			<div class="author">- by <%= image_tag("dun0171.png", :size => "20x20", :alt => "アイコン") %>今入 康友</div>
			<form class="form-inline" style="margin-top:12px;">
				<div class="form-group input-group-sm" style="width:100%;">
					<%= link_to '<button type="button" class="btn btn-info btn-xs" style="margin:0 10px;"><i class="fa fa-thumbs-o-up nav-icon"></i> すごい！</button>'.html_safe, "/path1"  %>
					<input class="form-control hidden-sm hidden-xs" id="inputEmail" placeholder="コメントを残す" type="text" style="width:75%;">
				</div>
			</form>
		</div>
	</blockquote>
</ul>

<% @actions.each do |action| %>
<h4><%= action.when %></h4>
<ul>
	<blockquote>
		<div class= "well">
			<span class="badge">14 <i class="fa fa-thumbs-o-up nav-icon"></i></span>
			<%= image_tag("dun0171.png", :size => "37x37", :alt => "アイコン") %>
			<%= action.who.name %>さんが
			<div style="text-align:center;"><%= action.where %>で</div>
			<div style="text-align:center;"><%= action.what %>をしていました.</div>
			<div class="author">- by <%= image_tag("dun0171.png", :size => "20x20", :alt => "アイコン") %><%= action.author.name %></div>
			<form class="form-inline" style="margin-top:12px;">
				<div class="form-group input-group-sm" style="width:100%;">
					<%= link_to '<button type="button" class="btn btn-info btn-xs" style="margin:0 10px;"><i class="fa fa-thumbs-o-up nav-icon"></i> すごい！</button>'.html_safe, "/path1"  %>
					<input class="form-control hidden-sm hidden-xs" id="inputEmail" placeholder="コメントを残す" type="text" style="width:75%;">
				</div>
			</form>
		</div>
	</blockquote>
</ul>
<% end %>
<ul>
	<% @actions.each do |action| %>
	<li><%= action.what %></li>
	<% end %>
</ul>