<h4><%= image_tag(@user.image, :size => "28x28", :alt => "アイコン")%> <%= @user.name %>さんのページ</h4>
<!-- <div class="table-responsive" style="text-align:left;">
	<table class="modal-body table" style="width:80%; margin-left: auto; margin-right: auto;">
		<%= form_for @action, :html => {:class => 'form-group has-feedback'} do |f| %>
		<input type="hidden" name="author" id="action_author" value="<%= current_user.id %>">
		<tbody>
			<tr>
				<td><span class="badge">WHO</span></td>
				<td><%= f.select :who, @user_list.map{|t| [t.name, t.id]},{},{:class => 'form-control input-sm prize_form'} %></td>
				<td>さんが</td>
			</tr>
			<tr>
				<td><span class="badge">WHEN</span></td>
				<td><%= f.datetime_select :act_time,
								{:use_month_numbers => true,
								:minute_step => 30,
								:start_year => Time.now.year - 1,
								:end_year => Time.now.year,
								:date_separator => '/',
								:time_separator => '：',
								:datetime_separator => '<br><br>'},
								{:class => 'form-control input-sm prize_form datetime_form'} %>
				</td>
				<td>頃に</td>
			</tr>
			<tr>
				<td><span class="badge">WHERE</span></td>
				<td><%= f.text_field :where ,:class => "form-control input-sm prize_form",:style => "display:inline;"%></td>
				<td>で</td>
			</tr>
			<tr>
				<td><span class="badge">WHAT</span></td>
				<td><%= f.text_field :what ,:class => "form-control input-sm prize_form",:style => "display:inline;"%></td>
				<td>をしました！</td>
			</tr>
		</tbody>
	</table>
</div>
<span class="btn btn-primary" id="prize_submit" style="display:inline;text-align:right;">すごい！</span>
<%end%> -->
<% if @actions.present? %>
	<%= render 'timeline' %>
<% else %>
	まだ行動が書かれていません。<br>
	ほめるボタンから<%= @user.name %>の行動を書いてみましょう！
<% end %>