<% if current_user.group_id == 0 %>
	<%= render 'layouts/make_group_modal' %>
<% else %>
	<%= render 'layouts/invite_modal' %>
<% end %>
<div class="col-md-3 hidden-sm hidden-xs">
	<div id="left_bar" style="position: fixed">
		<div style="display: table; margin: 10.5px 0;">
			<div style="display: table-cell; padding-right: 10px;">
				<%= image_tag(current_user.image, :size => "45x45", :alt => "アイコン") %>
			</div>
			<div style="display: table-cell; vertical-align: top;">
				<%= current_user.name %>さん<br>
				<% if current_user.group_id != 0 %>
					<%= current_user.group.name %>
				<% else %>
					無所属
				<% end %>
			</div>
		</div>
		<% if current_user.group_id != 0 %>
			<a href="#invite_modal" data-toggle="modal">
				<button type="button" class="btn btn-info radius-large-btn"><i class="fa fa-group"></i> <%= current_user.group.name %>に招待</button>
			</a>
		<% else %>
			<a href="#make_groupModal" data-toggle="modal">
				<button type="button" class="btn btn-info radius-large-btn"><i class="fa fa-plus"></i> グループを作成</button>
			</a>
			<a href="/groups">
				<button type="button" class="btn btn-info radius-large-btn"><i class="fa fa-search"></i> グループを探す</button>
			</a>
		<% end %>
		ステータス<br>
		レベル:<%= current_user.level.level %><br>
		称号:<%= current_user.level.degree %><br>
		<% required_exp(current_user.id) %>
		EXP:あと<%= @exp["require"] %>でレベルアップ！<br>
		<div class="progress">
			<div class="progress-bar progress-bar-success" style="width: <%= @exp["gauge"] %>%">
				<% if @exp["present"] != 0 %>
					<%= @exp["present"] %>EXP
				<% end %>
			</div>
		</div>
		今週の褒め<br>
		<div>
			<div>
				<%= approve_count(current_user.id) %>回メイトを褒めました.
			</div>
			<div>
				<%= approved_count(current_user.id) %>回メイトに褒められました.
			</div>
		</div>
		アクティビティ<br>



	</div>
</div>