<!DOCTYPE html>
<html lang="ja">
<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=0.8,minimum-scale=0.8, maximum-scale=0.8, minimal-ui">
		<title><%= content_for?(:title) ? yield(:title) : "FocusMate" %></title>
		<%= include_gon %>
		<%= csrf_meta_tags %>

		<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
		<!--[if lt IE 9]>
			<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
		<![endif]-->

		<%= stylesheet_link_tag "application", :media => "all" %>

		<!-- For third-generation iPad with high-resolution Retina display: -->
		<!-- Size should be 144 x 144 pixels -->
		<%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

		<!-- For iPhone with high-resolution Retina display: -->
		<!-- Size should be 114 x 114 pixels -->
		<%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

		<!-- For first- and second-generation iPad: -->
		<!-- Size should be 72 x 72 pixels -->
		<%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

		<!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
		<!-- Size should be 57 x 57 pixels -->
		<%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

		<!-- For all other devices -->
		<!-- Size should be 32 x 32 pixels -->
		<%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

		<%= javascript_include_tag "application" %>
	</head>
	<body>
			<%= render '/layouts/group_modal' if session[:group_id] %>
			<% if @isMobile == true %>
				<%= render '/layouts/navbar_mobile' %>
			<% else %>
				<%= render '/layouts/navbar' %>
			<% end %>
			<div class="container">
				<div class="row">
					<!-- 左サイドバー -->
					<% if @isMobile == true %>
						<%= render '/layouts/left_bar_mobile' %>
					<% else %>
						<%= render '/layouts/left_bar' %>
					<% end %>
					<!-- メインカラム -->
					<div class="col-md-6 col-sm-8 col-xs-12" id="main-column">
	<!--					 <%= bootstrap_flash %> -->
						<%= yield %>
						<% if self.controller_name == "actions" || self.controller_name == "groups"%>
							<div id="more"><i class="fa fa-spinner fa-spin"></i><br><br><br></div>
						<% end %>
					</div>
					<!-- 右サイドバー -->
					<% if @isMobile == true %>
						<%= render '/layouts/right_bar_mobile' %>
					<% else %>
						<%= render '/layouts/right_bar' %>
					<% end %>
				</div><!--/row-->
			</div> <!-- /container -->
	</body>
</html>
<script type="text/javascript">
//モバイルの時メインカラムにclassを追加することでcssをモバイル用に対応
<% if @isMobile == true %>
	$(function() {
		$("#main-column").addClass('mobile');
	});
<% end %>

//ナビバーの現在位置の色を変える
$(function(){
	if(<%= @current_location %> === false){
		return;
	}else{
		$("ul.nav li").eq(<%= @current_location %>).addClass("active");
		$(".navbar-mobile-bottom .nav-button").eq(<%= @current_location %>).addClass("active");
	}
});
</script>

