<!DOCTYPE html>
<html lang="ja">
<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=0.65,minimum-scale=0.65, maximum-scale=0.65">
		<title><%= content_for?(:title) ? yield(:title) : "FocusMate" %></title>
		<%= csrf_meta_tags %>

		<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
		<!--[if lt IE 9]>
			<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
		<![endif]-->

		<%= stylesheet_link_tag "application", :media => "all" %>

		<!-- For third-generation iPad with high-resolution Retina display: -->
		<!-- Size should be 144 x 144 pixels -->
		<%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

		<!-- For iPhone with high-resolution Retina display: -->
		<!-- Size should be 114 x 114 pixels -->
		<%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

		<!-- For first- and second-generation iPad: -->
		<!-- Size should be 72 x 72 pixels -->
		<%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

		<!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
		<!-- Size should be 57 x 57 pixels -->
		<%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

		<!-- For all other devices -->
		<!-- Size should be 32 x 32 pixels -->
		<%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

		<%= javascript_include_tag "application" %>
	</head>
	<body>
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/actions">F<i style="font-size: 14px;" class="fa fa-search-plus"></i>cusMate</a>
			</div>

			<div class="navbar-collapse collapse navbar-responsive-collapse">

				<ul class="nav navbar-nav">
					<li><%= link_to '<i class="fa fa-clock-o nav-icon"></i> タイムライン'.html_safe, "/actions" %></li>
					<li><%= link_to '<i class="fa fa-smile-o nav-icon"></i> マイアクション'.html_safe,:controller =>"actions",:action =>"me" %></li>
					<li><%= link_to '<i class="fa fa-thumbs-o-up nav-icon"></i> ほめる'.html_safe, "#prizeModal",{'data-toggle' => 'modal'} %></li>
				</ul>

<!-- 				<form class="navbar-form navbar-left input-group-sm">
					<input class="form-control col-lg-7" placeholder="Search" type="text">
				</form> -->

				<ul class="nav navbar-nav navbar-right">
					<li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete ,:style => "margin-right:10px;"%></li>
				</ul>
			</div>
		</div>
		<div class="modal fade" id="prizeModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title"><i class="fa fa-thumbs-o-up nav-icon"></i> ほめる</h4>
					</div>
					<div class="table-responsive" style="text-align:left;">
					<table class="modal-body table" style="width:80%; margin-left: auto; margin-right: auto;">
						<%= form_for @action, :html => {:class => 'form-group has-feedback'} do |f| %>
						<input type="hidden" name="author" id="action_author" value="<%= current_user.id %>">
						<tbody>
							<tr>
								<td><span class="badge">WHO</span></td>
								<td><%= f.select :who, @user_list.map{|t| [t.name, t.id]},{},{:class => 'form-control input-sm prize_form'} %></td>
								<td>さんが</td>
							</tr>
							<tr>
								<td><span class="badge">WHEN</span></td>
								<td>
									<input type="text" class="form-control input-sm prize_form" id="action_date" readonly="readonly"><br>
									<input id="action_time" type="text" class="form-control input-sm prize_form">
								</td>
								<td>頃に</td>
							</tr>
							<tr>
								<td><span class="badge">WHERE</span></td>
								<td><%= f.text_field :where ,:class => "form-control input-sm prize_form",:style => "display:inline;"%></td>
								<td>で</td>
							</tr>
							<tr>
								<td><span class="badge">WHAT</span></td>
								<td><%= f.text_field :what ,:class => "form-control input-sm prize_form",:style => "display:inline;"%></td>
								<td>ました！</td>
							</tr>
						</tbody>
					</table>
					</div>
					<div class="modal-footer">
						<div class="btn btn-primary" id="prize_submit">すごい！</div>
					<%end%>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-md-2 hidden-sm hidden-xs">
					<%= image_tag(current_user.image, :size => "37x37", :alt => "アイコン") %>
					<%= current_user.name %>さん</br>
				</div>
				<div class="col-md-6 col-sm-8 col-xs-12" id="main-column">
<!--					 <%= bootstrap_flash %> -->
					<%= yield %>
				</div>
				<div class="col-md-3 col-sm-4 hidden-xs">
					<div class="sidebar-nav right-sidebar">
						<h4>メイト一覧</h4>
						<table class="table table-bordered table-hover ">
							<tbody>
								<% if @user_list %>
									<% @user_list.each do |user_list| %>
										<tr class="active">
											<td><%= image_tag(user_list.image, :size => "28x28", :alt => "アイコン")%><%= link_to user_list.name,:controller =>"actions",:action =>"show",:id =>user_list.id %></td>
										</tr>
									<% end %>
								<% end %>
							</tbody>
						</table>
					</div>
				</div>
			</div><!--/row-->
		</div> <!-- /container -->
	</body>
</html>
<script type="text/javascript">
//褒めるの日付フォーム部をカレンダーにする+時刻フォームを操作しやすくする
$(function () {
	$('#action_date').datepicker({
		format:"yyyy/mm/dd",
		language:"ja",
		autoclose: true,
		startDate: "-1m",
		endDate:Date(),
		todayHighlight : true,
	});
	//フォームに今日の日付を入れる
	$("#action_date").val(new DateFormat("yyyy/MM/dd").format(new Date()));
	//日付フォームにフォーカスがあたった時、カレンダーを前面に出す
	$('#action_date').on('show', function(){
		$("div.datepicker.dropdown-menu").css("z-index","10000");
	});

	//カレンダーでの日付選択が行われたとき、timepickerを発動
	$('#action_date').on('changeDate', function(){
		$('#action_time').timepicker('showWidget');
	});

	$('#action_time').timepicker({
		minuteStep:10,
		showMeridian:false
	});
	//時刻フォームにフォーカスがあたった時、cssを適切に設定し直す
	$('#action_time').on('show.timepicker', function(){
		$(".bootstrap-timepicker-widget").css("z-index","10000");
		$(".bootstrap-timepicker-hour").removeClass("form-control");
		$(".bootstrap-timepicker-minute").removeClass("form-control");
		$(".bootstrap-timepicker-hour").css("border","none");
		$(".bootstrap-timepicker-minute").css("border","none");
		$(".bootstrap-timepicker-widget table tbody").append('<tr id="timepicker-submit-tr"><td></td><td><i id="timepicker-submit" class="fa fa-check"></td><td></td></tr>');
		$('#timepicker-submit-tr').on('click', function(){
			$('#action_time').timepicker('hideWidget');
		});
	});
	$('#action_time').on('hide.timepicker', function(){
		$("#timepicker-submit-tr").remove();
	});

});
//ナビバーの現在位置の色を変える
$(function(){
	//アドレスを取得
	path = location.pathname;
	//アドレスによってタイムライン、マイページ、他人の行動に分けてナビバーの色を変える
	if(path.match("/actions")){
		if(path.split("/")[2] == <%= current_user.id %>){
			$("ul.nav li").eq(1).addClass("active");
			return;
		}else if(path.split("/")[2]){
			return;
		}
		$("ul.nav li").eq(0).addClass("active");
	}else if(path.match("/mypage")){
		$("ul.nav li").eq(1).addClass("active");
	}
});

//行動の記述をajaxで追加
$(function(){
	$("#prize_submit").click(function() {
		if( $("#action_where").val() == "" || $("#action_what").val() == "" || $("#action_date").val() == "" || $("#action_time").val() == ""){
			alert("入力していない項目があります");
			return;
		}else if($("#action_who").val() == $("#action_author").val()){
			alert("自分のことを褒めることは出来ません");
			return;
		}
		$.ajax({
			type: 'post',
			url: '/actions',
			data: {who : $("#action_who").val(),
					date: $("#action_date").val(),
					time: $("#action_time").val(),
					where: $("#action_where").val(),
					what: $("#action_what").val(),
					author: $("#action_author").val()
					},
			success: function(one_action){
				$('#prizeModal').modal('hide');
				$("#action_where").val("");
				$("#action_what").val("");
				$("#main-column").prepend(one_action);
			},
			error: function(){
				alert("通信エラー！もう少し時間をおいて試してみてください。");
				$('#prizeModal').modal('hide');
			}
		});
	});
});
</script>
